{% extends 'base-sol-eco.html.twig' %} {% block title %}Sol Ecologique{%
endblock %} {% block body %}
<div class="container">
  <div class="card mb-3">
    <div class="card-header"></div>
    <div class="row g-0">
      <div class="col-md-8">
        <img
          src="{{ asset('/images/sol-eco/fiche-produit/') }}"
          class="img-fluid rounded-start"
          alt=""
        />
      </div>
      <div class="col-md-4">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
