{% extends 'base.html.twig' %} {% block title %} FAQ fvwebsite {% endblock %} {%
block body %}
<div class="container">
  <div class="jumbotron mt-3">
    <h1 class="display-3">
      Bienvenue dans l'espace formation et documentation de fvwebsite
    </h1>
  </div>

  <h2 class="h1 mt-3 mb-4">Sites web et projets :</h2>

  <div class="row">
    <div class="col-md-4">
      <div class="card bg-light mb-3">
        <div class="card-header text-center">
          Sol-ecologique<br />
          <small>En cours de dev</small>
        </div>

        <img
          src="https://dev.sol-ecologique.com/img/sol-ecologique-logo-1631817299.jpg"
          alt="logo sol-ecologique"
          style="height: 200px; width: 100%; display: block"
        />

        <div class="card-body">
          <h4 class="card-title">formation et procèdures</h4>
          <p class="card-text">
            Toute la documentation pour l'utilisation du back-office du CMS
            Sol-Ecologique (procèdure fiche produit, gestion commandes, suivi
            clients, ...)
          </p>
          <a href="{{ path('sol-eco') }}" class="btn btn-secondary"
            >C'est par ici...</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-light mb-3">
        <div class="card-header text-center">2CV<br /></div>

        <img
          src="https://fvwebsite.com/2cv/images/rigal-meyral/rigal_1.jpg"
          alt="2cv"
          style="width: 100%; display: block"
        />

        <div class="card-body">
          <h4 class="card-title">Documentation sur 2CV</h4>
          <p class="card-text">Notice, liens utiles, ...</p>
          <a href="https://fvwebsite.com/2cv/" class="btn btn-secondary"
            >C'est par ici...</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
